# Introduction

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

### Step 0: Load the Data

There are four files associated with this project:

- `Udacity_AZDIAS_Subset.csv`: Demographics data for the general population of Germany; 891211 persons (rows) x 85 features (columns).
- `Udacity_CUSTOMERS_Subset.csv`: Demographics data for customers of a mail-order company; 191652 persons (rows) x 85 features (columns).
- `Data_Dictionary.md`: Detailed information file about the features in the provided datasets.
- `AZDIAS_Feature_Summary.csv`: Summary of feature attributes for demographics data; 85 features (rows) x 4 columns

In [5]:
# Load in the general demographics data.
azdias = pd.read_csv('Udacity_AZDIAS_Subset.csv', delimiter= ';')

# Load in the feature summary file.
feat_info = pd.read_csv('AZDIAS_Feature_Summary.csv', delimiter= ';')

In [6]:
azdias.head()

,AGER_TYP,ALTERSKATEGORIE_GROB,ANREDE_KZ,CJT_GESAMTTYP,FINANZ_MINIMALIST,FINANZ_SPARER,FINANZ_VORSORGER,FINANZ_ANLEGER,FINANZ_UNAUFFAELLIGER,FINANZ_HAUSBAUER,...,PLZ8_ANTG1,PLZ8_ANTG2,PLZ8_ANTG3,PLZ8_ANTG4,PLZ8_BAUMAX,PLZ8_HHZ,PLZ8_GBZ,ARBEIT,ORTSGR_KLS9,RELAT_AB
0,-1,2,1,2.0,3,4,3,5,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-1,1,2,5.0,1,5,2,5,4,5,...,2.0,3.0,2.0,1.0,1.0,5.0,4.0,3.0,5.0,4.0
2,-1,3,2,3.0,1,4,1,2,3,5,...,3.0,3.0,1.0,0.0,1.0,4.0,4.0,3.0,5.0,2.0
3,2,4,2,2.0,4,2,5,2,1,2,...,2.0,2.0,2.0,0.0,1.0,3.0,4.0,2.0,3.0,3.0
4,-1,3,1,5.0,4,3,4,1,3,2,...,2.0,4.0,2.0,1.0,2.0,3.0,3.0,4.0,6.0,5.0

In [12]:
azdias.shape

(891221, 85)

In [63]:
azdias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891221 entries, 0 to 891220
Data columns (total 85 columns):
AGER_TYP                 891221 non-null int64
ALTERSKATEGORIE_GROB     891221 non-null int64
ANREDE_KZ                891221 non-null int64
CJT_GESAMTTYP            886367 non-null float64
FINANZ_MINIMALIST        891221 non-null int64
FINANZ_SPARER            891221 non-null int64
FINANZ_VORSORGER         891221 non-null int64
FINANZ_ANLEGER           891221 non-null int64
FINANZ_UNAUFFAELLIGER    891221 non-null int64
FINANZ_HAUSBAUER         891221 non-null int64
FINANZTYP                891221 non-null int64
GEBURTSJAHR              891221 non-null int64
GFK_URLAUBERTYP          886367 non-null float64
GREEN_AVANTGARDE         891221 non-null int64
HEALTH_TYP               891221 non-null int64
LP_LEBENSPHASE_FEIN      886367 non-null float64
LP_LEBENSPHASE_GROB      886367 non-null float64
LP_FAMILIE_FEIN          886367 non-null float64
LP_FAMILIE_GROB          886367 non-null float64
LP_STATUS_FEIN           886367 non-null float64
LP_STATUS_GROB           886367 non-null float64
NATIONALITAET_KZ         891221 non-null int64
PRAEGENDE_JUGENDJAHRE    891221 non-null int64
RETOURTYP_BK_S           886367 non-null float64
SEMIO_SOZ                891221 non-null int64
SEMIO_FAM                891221 non-null int64
SEMIO_REL                891221 non-null int64
SEMIO_MAT                891221 non-null int64
SEMIO_VERT               891221 non-null int64
SEMIO_LUST               891221 non-null int64
SEMIO_ERL                891221 non-null int64
SEMIO_KULT               891221 non-null int64
SEMIO_RAT                891221 non-null int64
SEMIO_KRIT               891221 non-null int64
SEMIO_DOM                891221 non-null int64
SEMIO_KAEM               891221 non-null int64
SEMIO_PFLICHT            891221 non-null int64
SEMIO_TRADV              891221 non-null int64
SHOPPER_TYP              891221 non-null int64
SOHO_KZ                  817722 non-null float64
TITEL_KZ                 817722 non-null float64
VERS_TYP                 891221 non-null int64
ZABEOTYP                 891221 non-null int64
ALTER_HH                 817722 non-null float64
ANZ_PERSONEN             817722 non-null float64
ANZ_TITEL                817722 non-null float64
HH_EINKOMMEN_SCORE       872873 non-null float64
KK_KUNDENTYP             306609 non-null float64
W_KEIT_KIND_HH           783619 non-null float64
WOHNDAUER_2008           817722 non-null float64
ANZ_HAUSHALTE_AKTIV      798073 non-null float64
ANZ_HH_TITEL             794213 non-null float64
GEBAEUDETYP              798073 non-null float64
KONSUMNAEHE              817252 non-null float64
MIN_GEBAEUDEJAHR         798073 non-null float64
OST_WEST_KZ              798073 non-null object
WOHNLAGE                 798073 non-null float64
CAMEO_DEUG_2015          792242 non-null object
CAMEO_DEU_2015           792242 non-null object
CAMEO_INTL_2015          792242 non-null object
KBA05_ANTG1              757897 non-null float64
KBA05_ANTG2              757897 non-null float64
KBA05_ANTG3              757897 non-null float64
KBA05_ANTG4              757897 non-null float64
KBA05_BAUMAX             757897 non-null float64
KBA05_GBZ                757897 non-null float64
BALLRAUM                 797481 non-null float64
EWDICHTE                 797481 non-null float64
INNENSTADT               797481 non-null float64
GEBAEUDETYP_RASTER       798066 non-null float64
KKK                      770025 non-null float64
MOBI_REGIO               757897 non-null float64
ONLINE_AFFINITAET        886367 non-null float64
REGIOTYP                 770025 non-null float64
KBA13_ANZAHL_PKW         785421 non-null float64
PLZ8_ANTG1               774706 non-null float64
PLZ8_ANTG2               774706 non-null float64
PLZ8_ANTG3               774706 non-null float64
PLZ8_ANTG4               774706 non-null float64
PLZ8_BAUMAX              774706 non-null float64
PLZ8_HHZ                 774706 non-null float64
PLZ8_GBZ                 774706 non-null float64
ARBEIT                   794005 non-null float64
ORTSGR_KLS9              794005 non-null float64
RELAT_AB                 794005 non-null float64
dtypes: float64(49), int64(32), object(4)
memory usage: 578.0+ MB

In [53]:
feat_info.head(5)

              attribute information_level         type missing_or_unknown
0              AGER_TYP            person  categorical             [-1,0]
1  ALTERSKATEGORIE_GROB            person      ordinal           [-1,0,9]
2             ANREDE_KZ            person  categorical             [-1,0]
3         CJT_GESAMTTYP            person  categorical                [0]
4     FINANZ_MINIMALIST            person      ordinal               [-1]

In [14]:
feat_info.shape

(85, 4)

feat_info describe the columns in the azdias dataset

## Step 1: Preprocessing

In [15]:
feat_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 4 columns):
attribute             85 non-null object
information_level     85 non-null object
type                  85 non-null object
missing_or_unknown    85 non-null object
dtypes: object(4)
memory usage: 2.8+ KB

The missing_or_unknown column is read as a string as it is formatted as a list.

In [56]:
#Prints first missing_or_unknown value in first row
mou_first = feat_info['missing_or_unknown'][0]

print(mou_first)

#Prints type
print(type(mou_first))

[-1,0]
<class 'str'>

We can see that the list in formatted as string. We cant format it to a list using list() as it will split every single character

In [57]:
print(list(mou_first))

['[', '-', '1', ',', '0', ']']

We will have to remove the brackets from the string, then split the values at the commas

In [60]:
mou_to_list = mou_first.strip('][').split(',')

print(mou_to_list)
print(type(mou_to_list))

['-1', '0']
<class 'list'>

each number has been seperated. we can now iterate over these lists and replace the values in the azdias dataset with NaN

From exploring the azdias we can see that all the columns either float or integer types with only four columns (OST_WEST_KZ, CAMEO_DEUG_2015, CAMEO_DEU_2015 , CAMEO_INTL_2015) being objects(strings). Would be interesting to see how they are represented in feat_info.

In [67]:
for attribute in ['OST_WEST_KZ', 'CAMEO_DEUG_2015', 'CAMEO_DEU_2015' , 'CAMEO_INTL_2015']:
    print(attribute, feat_info['missing_or_unknown'][feat_info['attribute'] == attribute])
    print(azdias[attribute].unique())

OST_WEST_KZ 55    [-1]
Name: missing_or_unknown, dtype: object
[nan 'W' 'O']
CAMEO_DEUG_2015 57    [-1,X]
Name: missing_or_unknown, dtype: object
[nan '8' '4' '2' '6' '1' '9' '5' '7' '3' 'X']
CAMEO_DEU_2015 58    [XX]
Name: missing_or_unknown, dtype: object
[nan '8A' '4C' '2A' '6B' '8C' '4A' '2D' '1A' '1E' '9D' '5C' '8B' '7A' '5D'
 '9E' '9B' '1B' '3D' '4E' '4B' '3C' '5A' '7B' '9A' '6D' '6E' '2C' '7C'
 '9C' '7D' '5E' '1D' '8D' '6C' '6A' '5B' '4D' '3A' '2B' '7E' '3B' '6F'
 '5F' '1C' 'XX']
CAMEO_INTL_2015 59    [-1,XX]
Name: missing_or_unknown, dtype: object
[nan '51' '24' '12' '43' '54' '22' '14' '13' '15' '33' '41' '34' '55' '25'
 '23' '31' '52' '35' '45' '44' '32' 'XX']

In [61]:
for index, row in feat_info.iterrows():
    string_to_list = row['missing_or_unknown'].strip('][').split(',')
    
    for value in string_to_list:
        print(row['attribute'])
        print(value)

-1
AGER_TYP
0
AGER_TYP
-1
ALTERSKATEGORIE_GROB
0
ALTERSKATEGORIE_GROB
9
ALTERSKATEGORIE_GROB
-1
ANREDE_KZ
0
ANREDE_KZ
0
CJT_GESAMTTYP
-1
FINANZ_MINIMALIST
-1
FINANZ_SPARER
-1
FINANZ_VORSORGER
-1
FINANZ_ANLEGER
-1
FINANZ_UNAUFFAELLIGER
-1
FINANZ_HAUSBAUER
-1
FINANZTYP
0
GEBURTSJAHR

GFK_URLAUBERTYP

GREEN_AVANTGARDE
-1
HEALTH_TYP
0
HEALTH_TYP
0
LP_LEBENSPHASE_FEIN
0
LP_LEBENSPHASE_GROB
0
LP_FAMILIE_FEIN
0
LP_FAMILIE_GROB
0
LP_STATUS_FEIN
0
LP_STATUS_GROB
-1
NATIONALITAET_KZ
0
NATIONALITAET_KZ
-1
PRAEGENDE_JUGENDJAHRE
0
PRAEGENDE_JUGENDJAHRE
0
RETOURTYP_BK_S
-1
SEMIO_SOZ
9
SEMIO_SOZ
-1
SEMIO_FAM
9
SEMIO_FAM
-1
SEMIO_REL
9
SEMIO_REL
-1
SEMIO_MAT
9
SEMIO_MAT
-1
SEMIO_VERT
9
SEMIO_VERT
-1
SEMIO_LUST
9
SEMIO_LUST
-1
SEMIO_ERL
9
SEMIO_ERL
-1
SEMIO_KULT
9
SEMIO_KULT
-1
SEMIO_RAT
9
SEMIO_RAT
-1
SEMIO_KRIT
9
SEMIO_KRIT
-1
SEMIO_DOM
9
SEMIO_DOM
-1
SEMIO_KAEM
9
SEMIO_KAEM
-1
SEMIO_PFLICHT
9
SEMIO_PFLICHT
-1
SEMIO_TRADV
9
SEMIO_TRADV
-1
SHOPPER_TYP
-1
SOHO_KZ
-1
TITEL_KZ
0
TITEL_KZ
-1
VERS_TYP
-1
ZABEOTYP
9
ZABEOTYP
0
ALTER_HH

ANZ_PERSONEN

ANZ_TITEL
-1
HH_EINKOMMEN_SCORE
0
HH_EINKOMMEN_SCORE
-1
KK_KUNDENTYP
-1
W_KEIT_KIND_HH
0
W_KEIT_KIND_HH
-1
WOHNDAUER_2008
0
WOHNDAUER_2008
0
ANZ_HAUSHALTE_AKTIV

ANZ_HH_TITEL
-1
GEBAEUDETYP
0
GEBAEUDETYP

KONSUMNAEHE
0
MIN_GEBAEUDEJAHR
-1
OST_WEST_KZ
-1
WOHNLAGE
-1
CAMEO_DEUG_2015
X
CAMEO_DEUG_2015
XX
CAMEO_DEU_2015
-1
CAMEO_INTL_2015
XX
CAMEO_INTL_2015
-1
KBA05_ANTG1
-1
KBA05_ANTG2
-1
KBA05_ANTG3
-1
KBA05_ANTG4
-1
KBA05_BAUMAX
0
KBA05_BAUMAX
-1
KBA05_GBZ
0
KBA05_GBZ
-1
BALLRAUM
-1
EWDICHTE
-1
INNENSTADT

GEBAEUDETYP_RASTER
-1
KKK
0
KKK

MOBI_REGIO

ONLINE_AFFINITAET
-1
REGIOTYP
0
REGIOTYP

KBA13_ANZAHL_PKW
-1
PLZ8_ANTG1
-1
PLZ8_ANTG2
-1
PLZ8_ANTG3
-1
PLZ8_ANTG4
-1
PLZ8_BAUMAX
0
PLZ8_BAUMAX
-1
PLZ8_HHZ
-1
PLZ8_GBZ
-1
ARBEIT
9
ARBEIT
-1
ORTSGR_KLS9
0
ORTSGR_KLS9
-1
RELAT_AB
9
RELAT_AB